* {
    margin: 0;
    padding: 0;
}

/*General styling*/

body {
    box-sizing: border-box;
    text-align: center;
    background: #404040;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

/*==============
    Typography
================*/

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h1 + p {
    font-size: 1.3125rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    margin-top: 0;
}

.topText {
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

/*==============
intro section
================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    padding: 0 .5em 2em;
    background-image: url(./images/dark-ribs.jpg);
    background-color: #404040;
    background-size: cover;
    background-position: center;
}