* {
    margin: 0;
    padding: 0;
}

/*General styling*/

body {
    box-sizing: border-box;
    text-align: center;
    background: #404040;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}